body {
    font-family: Arial, sans-serif;

    background-image: url(/.vscode/background.jpg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

li {
    margin: 10px 0;
}
.dark {
    background: #121212;
    color: white;
}

.dark .container {
    background: #222;
}